{% block extra_head %}
<link href="{{ STATIC_URL }}geonode/css/social_twitter.css" rel="stylesheet" />
{% endblock %}

{% block social_links %}
	<article class="tab-pane" id="share">
        <!-- TODO: Move this to a reusable template snippet -->
        <header>
            <h3 id="ShareThis"></h3>
        </header>
        <div>
              <ul class="social">
                  <li><a href="http://www.facebook.com/sharer.php?u=http://{{ request.get_host }}{{ request.get_full_path }}" class="fb">facebook</a></li>
                  <li><a href="https://twitter.com/share?url=http://{{ request.get_host }}{{ request.get_full_path }}" class="tw">twitter</a></li>
                  <li><a href="https://plus.google.com/share?url=http://{{ request.get_host }}{{ request.get_full_path }}" class="gp">google+</a></li>
              </ul>
         </div>
        <!-- TODO: Add more sharing options -->
    </article>
{% endblock %}
<script type="text/javascript">
   var django = window.django || (window.django = {}); 
   var UrlFull = document.location.href;
   var Url = UrlFull.substring(0,UrlFull.lastIndexOf("/"));
   var ItemType = Url.substring(Url.lastIndexOf("/")+1);
   var text = "";
   if (ItemType == "layers")
      text = gettext('Share This Layer');
   else if (ItemType == "Maps")
      text = gettext('Share This Map');
   else if (ItemType == "Documents")
      text = gettext('Share This Document');
   $( "#ShareThis" ).append(text);
</script> 
